<a href="https://colab.research.google.com/github/jtsuihk/Assessments/blob/main/Assessement_MachineLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Problem 1

In [16]:
def longestpath(dict):

    max = 0
    for key in dict:
      path = []
      
      while key in dict:
        if key not in path:
          path.append(key)
          key = dict[key]

        else:
          break

      if len(path) > max:
         max = len(path)

    return max

In [17]:
dict1 = {'a':'b', 'b':'c', 'c':'d', 'd':'e', 'e':'f', 'f':'a'}
print(longestpath(dict1))

6

In [19]:
dict2 ={'a':'b', 'b':'a'}
print(longestpath(dict2))

2

In [ ]:
#Problem 2

In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score

In [22]:
#q1
df = pd.read_csv("/content/heart.csv")

In [25]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [26]:
#q2
df.shape

(303, 14)

In [28]:
#q3
print(df.groupby('target')['target'].count())

target
0    138
1    165
Name: target, dtype: int64

In [29]:
#q4
print(round(df.groupby("target")["target"].count()[1]/len(df)*100,2))

54.46

In [30]:
#q5 
print(df.groupby("target").mean())

              age       sex        cp    trestbps        chol       fbs  \
target
0       56.601449  0.826087  0.478261  134.398551  251.086957  0.159420
1       52.496970  0.563636  1.375758  129.303030  242.230303  0.139394

         restecg     thalach     exang   oldpeak     slope        ca      thal
target
0       0.449275  139.101449  0.550725  1.585507  1.166667  1.166667  2.543478
1       0.593939  158.466667  0.139394  0.583030  1.593939  0.363636  2.121212

In [31]:
#q6
r = ["cp", "thal", "slope"]
for i in r :
    df = pd.concat([df, pd.get_dummies(df[i], prefix=i)], axis=1)
print(df)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  ...  \
0     63    1   3       145   233    1        0      150      0      2.3  ...
1     37    1   2       130   250    0        1      187      0      3.5  ...
2     41    0   1       130   204    0        0      172      0      1.4  ...
3     56    1   1       120   236    0        1      178      0      0.8  ...
4     57    0   0       120   354    0        1      163      1      0.6  ...
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...  ...
298   57    0   0       140   241    0        1      123      1      0.2  ...
299   45    1   3       110   264    0        1      132      0      1.2  ...
300   68    1   0       144   193    1        1      141      0      3.4  ...
301   57    1   0       130   131    0        1      115      1      1.2  ...
302   57    0   1       130   236    0        0      174      0      0.0  ...

     cp_1  cp_2  cp_3  thal_0  thal_1  thal_2  thal_3  slope_0  slope_1  \
0       0     0     1       0       1       0       0        1        0
1       0     1     0       0       0       1       0        1        0
2       1     0     0       0       0       1       0        0        0
3       1     0     0       0       0       1       0        0        0
4       0     0     0       0       0       1       0        0        0
..    ...   ...   ...     ...     ...     ...     ...      ...      ...
298     0     0     0       0       0       0       1        0        1
299     0     0     1       0       0       0       1        0        1
300     0     0     0       0       0       0       1        0        1
301     0     0     0       0       0       0       1        0        1
302     1     0     0       0       0       1       0        0        1

     slope_2
0          0
1          0
2          1
3          1
4          1
..       ...
298        0
299        0
300        0
301        0
302        0

[303 rows x 25 columns]

In [33]:
#q7
for i in r :
    df = df.drop([i], axis=1)
print(df)

     age  sex  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  ca  ...  \
0     63    1       145   233    1        0      150      0      2.3   0  ...
1     37    1       130   250    0        1      187      0      3.5   0  ...
2     41    0       130   204    0        0      172      0      1.4   0  ...
3     56    1       120   236    0        1      178      0      0.8   0  ...
4     57    0       120   354    0        1      163      1      0.6   0  ...
..   ...  ...       ...   ...  ...      ...      ...    ...      ...  ..  ...
298   57    0       140   241    0        1      123      1      0.2   0  ...
299   45    1       110   264    0        1      132      0      1.2   0  ...
300   68    1       144   193    1        1      141      0      3.4   2  ...
301   57    1       130   131    0        1      115      1      1.2   1  ...
302   57    0       130   236    0        0      174      0      0.0   1  ...

     cp_1  cp_2  cp_3  thal_0  thal_1  thal_2  thal_3  slope_0  slope_1  \
0       0     0     1       0       1       0       0        1        0
1       0     1     0       0       0       1       0        1        0
2       1     0     0       0       0       1       0        0        0
3       1     0     0       0       0       1       0        0        0
4       0     0     0       0       0       1       0        0        0
..    ...   ...   ...     ...     ...     ...     ...      ...      ...
298     0     0     0       0       0       0       1        0        1
299     0     0     1       0       0       0       1        0        1
300     0     0     0       0       0       0       1        0        1
301     0     0     0       0       0       0       1        0        1
302     1     0     0       0       0       1       0        0        1

     slope_2
0          0
1          0
2          1
3          1
4          1
..       ...
298        0
299        0
300        0
301        0
302        0

[303 rows x 22 columns]

In [34]:
#q8
x = df.loc[:, df.columns != "target"]
y = df["target"]
x_train, x_test , y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [35]:
#q9
x_train_scaled = MinMaxScaler().fit(x_train).transform(x_train)
x_test_scaled = MinMaxScaler().fit(x_test).transform(x_test)

In [36]:
#10
lr = LogisticRegression().fit(x_train_scaled, y_train)
lr_pre = lr.predict(x_test_scaled)
print("Logistic regression model - accuracy score :", round(accuracy_score(y_test, lr_pre),2))
print("Logistic regression model - accuracy score :", round(precision_score(y_test, lr_pre),2))

Logistic regression model - accuracy score : 0.89
Logistic regression model - accuracy score : 0.93

In [37]:
#11
knn = KNeighborsClassifier(n_neighbors=3).fit(x_train_scaled, y_train)
knn_pre = knn.predict(x_test_scaled)
print("KNN model - accuracy score :", round(accuracy_score(y_test, knn_pre),2))
print("KNN model - accuracy score :", round(precision_score(y_test, knn_pre),2))

KNN model - accuracy score : 0.79
KNN model - accuracy score : 0.88