In [2]:
# PROBLEM 1
# Write a Pandas program to convert a given dictionary into a Dataframe.
# The first element of the input list must be the column name.
# The converted dataframe should be returned. Sample Input:

# dict={'A':[1,0,0,1], 'B':[0,1,1,0], 'C':[0,1,1,0], 'D':[1,0,0,1]}

#Sample Output:

#    A  B  C  D
# 0  1  0  0  1
# 1  0  1  1  0
# 2  0  1  1  0
# 3  1  0  0  1

In [8]:
import pandas as pd

dict={'A':[1,0,0,1], 'B':[0,1,1,0], 'C':[0,1,1,0], 'D':[1,0,0,1]}

new = pd.DataFrame.from_dict(dict)
print(new)

   A  B  C  D
0  1  0  0  1
1  0  1  1  0
2  0  1  1  0
3  1  0  0  1

In [ ]:
# PROBLEM 2

# Write inside the load() function to read the openrice.csv file in the data folder and return the whole dataframe.

# The dataframe should only have 10 rows and 8 columns.

In [28]:
import pandas as pd
import numpy as np

In [38]:
filename = pd.read_csv('/Users/Joseph/Downloads/week3assignment/data/openrice.csv')
df = filename

In [37]:
class Load_Data:
    def __init__(self,filename):
        self._filename = filename
        
    def load(self): 
        df = pd.read_csv(self._filename)
        return df 
print(df)

   Unnamed: 0                                            address  bookmarks  \
0           0                     Shop J-K., 200 Hollywood Road,       5838
1           1                           G/F, 108 Hollywood Road,       3492
2           2                           G/F, 206 Hollywood Road,       5517
3           3  Shop 3018, 3/F, Shun Tak Centre, 168-200 Conna...       1173
4           4                          G/F, 38 Queens Road West,       1064
5           5  Shop 1, G/F, King Ho Building, 41-49 Aberdeen ...       3300
6           6                               G/F, 12 Tung Street,       5101
7           7  G/F, Sea View Commercial Building, 21-24 Conna...        591
8           8  Shop 1B, G/F, Cheungs Building, 1 Wing Lok Str...       1224
9           9                             G/F, 8 Hillier Street,       1452

   dislikes        food_type  likes                              name  \
0         6  Hong Kong Style     78         For Kee Restaurant 科記咖啡餐室
1         2    International     20  Blue · Butcher & Meat Specialist
2         5             Thai     31                         Chachawan
3         1  Hong Kong Style     23                 Capital Café 華星冰室
4         1           Indian     50              Namaste Kitchen 滋味廚房
5         0       Vietnamese     21                Bun Cha Vietnamese
6         3          Western     14               Halfway Coffee 半路咖啡
7         3        Guangdong     30        Fung Shing Restaurant 鳳城酒家
8         0          Western     28                     Veggi Monster
9         0         Japanese     28                         Pokéworld

  number_of_reviews price_range
0     (133 Reviews)   Below $50
1      (30 Reviews)    $201-400
2      (43 Reviews)    $201-400
3      (39 Reviews)   Below $50
4      (57 Reviews)     $51-100
5      (33 Reviews)    $101-200
6      (25 Reviews)   Below $50
7      (37 Reviews)    $101-200
8      (32 Reviews)     $51-100
9      (37 Reviews)     $51-100

In [ ]:
#PROBLEM 2B
#Write inside the makeCategory() function to only return a column called 'price_category' which categorizes the price_range as follows:

#"Below $50": Cheap

#"$51-100": Not Cheap

#"$101-200": Expensive

#"$201-400": Very Expensive

In [42]:
def makeCatagory(x):
    if x == 'Below $50':
        return 'cheap'
    if x == '$51-100':
        return 'Not Cheap'
    if x == '$202-200':
        return 'expensive'
    if x == '$201-400':
        return 'very expensive'
    
new = df['Prie Category'] = df['price_range'].apply(makeCatagory)

print(new)

0             cheap
1    very expensive
2    very expensive
3             cheap
4         Not Cheap
5              None
6             cheap
7              None
8         Not Cheap
9         Not Cheap
Name: price_range, dtype: object

In [ ]:
# PROBLEM 2C
# Write inside the totalDislike() function to only return the total number of dislikes for each price range.

In [75]:
def totalDislikes():
    return df.groupby('price_range')['dislikes'].sum()
totalDislikes()

price_range
$101-200      3
$201-400      7
$51-100       1
Below $50    10
Name: dislikes, dtype: int64

In [ ]:
# PROBLEM 2D
#Write inside the totalBookmarks() function to return the sum of bookmarks of all 'Hong Kong Style' restaurants.

In [78]:
def totalBookmarks():
    return df.loc[df['food_type'] == 'Hong Kong Style', 'bookmarks'].sum()
    
totalBookmarks()

7011

In [ ]:
#PROBLEM 2E

#For the 'number_of_reviews' column, only extract the values of reviews. For example, (13 Reviews) 
#should be converted to 13 as an integer. Write inside extractReview() function to return the modified 'number_of_review' column.

In [86]:
def extractReview():
    return df['number_of_reviews'].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int)

extractReview()

0    133
1     30
2     43
3     39
4     57
5     33
6     25
7     37
8     32
9     37
dtype: int64